.hero {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
    color: white;
    height: 80px;
}
.hero h1{
        text-align: center;
}
.btn{
    border-radius: 5px;
    color: white;
    background-color: skyblue;
    border: none;
    height: 30px;
}
.city-input{
    border-radius: 5px;
    height: 40px;
    margin: 10px 0 10px 0;
}
.search-btn{
    margin:10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black ;
}
.current-weather{
    border: 2px solid black;
    margin: 10px;
    width:max-content;
    height: 300px;
}
.current{
    font-size: larger;
    font-weight: bold;
}
.day-card{
    background-color: #32425c ;
    color: white;
    font-weight: bolder;
    padding-left:5px;
    padding-bottom: 0px;
    width:100%;
    /* display: none; */
}
.card{
    border: none;
    justify-content: space-evenly;
}
.card-container{
    width: 16%;
}
.five-day-row{
    justify-content: space-evenly;x
}
.five-day{
    padding-left:5px;
}
